# Ignore node_modules
node_modules

# Ignore build output directory
dist
build

# Ignore log files
*.log

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore .env files
.env

# Ignore cache directory
.cache